.default {
  height: 200px;
}

.campaignMini {
  height: 150px;
}

.home,
.category {
  width: 200px;
  height: 200px;
}

.product {
  width: 320px;
  height: 320px;
}

.logo {
  width: 80px;
  height: 80px;
}

.cart {
  width: 30px;
  height: 30px;
}

.scroll {
  width: 30px;
  height: 30px;
}

.iBlock {
  display: inline-block;
}

.packaging {
  height: 50px;
  width: 22px;
}

.cartOpen {
  height: 80px;
}

.cartOpenBtn {
  width: 30px;
}

.tenFor100 {
  width: 100%;
}

.tenFor100sml {
  display: none;
}

.acBottle {
  width: 20px;
}

.acCask {
  width: 35px;
}

.carousel {
  width: 30px;
  opacity: 0.2;
}

.carousel:hover {
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  .logo {
    width: 60px;
    height: 60px;
  }

  .productMain {
    height: 390px;
  }
}

@media screen and (max-width: 500px) {
  .product {
    width: 200px;
    height: 200px;
  }

  .productMain {
    height: 290px;
  }

  .tenFor100 {
    display: none;
  }

  .tenFor100sml {
    display: block;
    width: 100%;
  }
}
